<div class="countdown" >
	<p>You are here to: {{ accomplish }}</p>

	<div ng-show="state === 'init'">
		<p>Time left: {{ Math.floor(seconds/60) }} minutes {{ seconds % 60 }} seconds</p>
		<button ng-click="done()">done</button>
	</div>

	<div ng-show="state === 'toolate'">
		<p>Time overdue: {{ Math.floor(seconds/60) }} minutes {{ seconds % 60 }} seconds</p>
		<button ng-click="done()">done</button>
		<iframe src="https://giphy.com/embed/11StaZ9Lj74oCY" width="480" height="304" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
	</div>
</div>

<div class="overlay" ng-show="state === 'done'">
	<h1>Well done</h1>
	<iframe src="https://giphy.com/embed/11Feog5PTumNnq" width="480" height="367" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

