body { 
    background: url(background.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body.fraud { 
    background: url(not-a-fraud.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.screen {
    padding: 10px;
    background: rgba(230,230,230,0.8);
}
.bw {
    color: white;
    background: black;
}

h1 {
    font-weight: normal;
}
h1 span {
    font-weight: bold;
}
input[type=text] {
    padding: 15px;
    font-size: 1.8em;
    height: 44px;
    font-family: monospace;
    box-sizing: border-box;
    width: 100%;
}
.screen.failed, .screen.countdown {
    display: none;
}
.screen.countdown {
    background: none;
}

.flow {
    width: 400px;
    height: 52px;
    overflow-x: hidden;
    margin-left: -10px; /* because of 10px padding we want edge to edge */
}

.sat {
    position: absolute;
    transition: all 0.05s linear;
    width: 32px;
    height: 32px;
}