html { 
    background: url(background.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.screen {
    padding: 10px;
    background: rgba(230,230,230,0.8);
}
h1 {
    font-weight: normal;
}
h1 span {
    font-weight: bold;
}
input[type=text] {
    padding: 15px;
    font-size: 1.8em;
    height: 44px;
    font-family: monospace;
    box-sizing: border-box;
    width: 100%;
}
.failed, .countdown {
    display: none;
}

#timeLeft {
    display: inline-block;
    width: 32px;
    margin-right: 9px;
    text-align: left;
}