body {
  width: 250px;
  height: 100%;
  padding: 10px;
}

.x {
  display: none;
  margin-left: 6px;
  cursor: pointer;
  font-size: 0.8em;
}

.website:hover .x {
  display: inline-block;
}

.tab {
  background: #e2e2e2;
  padding: 5px;
  width: 51.5px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid black;
  cursor: pointer;
}
.tab:last-of-type {
  border-right: none;
}

.page {
  display: none
}
.page.active {
  display: block;
}




#dol-number, #sat-number {
  width: 43 px;
}


a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 190px;
  margin: 50px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#macaroon {
  display: none;
}
#macaroon-textarea {
  font-family: monospace;
  font-size: 0.8em;
  width: 240px;
  height: 100px;
  background-color: #e2e2e2;
  filter: blur(3px)
}