body:not(.focus-mind-chrome-extension-loaded) {
  display: none !important;
}

#iframed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2147483647; /* https://en.wikipedia.org/wiki/2,147,483,647 */
  filter: none; /* TODO: MASSIVE RESET PLEASE, some styles are applied to `body>*` */
}

#iframed.collapsed {
  width: 250px;
  height: 50px;
}