body {
  display: none;
}

#iframed {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999999999;
}
/* 
#focus-mind-iframe {
  position: fixed;
  top: 0;
  left: 50%;
  width: 30%;
  height: 50px;
  background: pink;
  opacity: 0.5;
  z-index: 9999999999;
}

#angular-app {
  position: fixed;
  top: 25px;
  left: 150px;
  background: red;
  z-index: 9999999999;
}

#simple-iframe{
  position: fixed;
  top: 55px;
  left: 250px;
  height: 50px;
  background: yellow;
  z-index: 9999999999;
}




body {
  margin-top: 50px !important;
}

.ng-hide {
  display: none; /* some automatic Angular.JS styles are not applied due to iframe / extension / shadow dom thingy */
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: white;
  z-index: 999999999999;
}

.countdown {
  position: fixed;
  top: 0;
  height: 30px;
  left: 0;
  right: 0;
  background: white;
  z-index: 999999999999;  
}

.countdown-success {
	
} */