body {
  display: none;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: white;
  z-index: 999999999999;
}

.countdown {
  position: fixed;
  top: 0;
  height: 30px;
  left: 0;
  right: 0;
  background: white;
  z-index: 999999999999;  
}

.countdown-success {
	
}