<div class='overlay'>
	<h3>I am the overlay</h3>
	<p>You are on a website, known to be fucking distracting.</p>

	<form ng-submit="submit()">
		<label for="accomplish">What do you want to accomplish</label>
		<input id="accomplish" ng-model="accomplish" placeholder="what..." required>

		<br>


		<label for="howmuchtime">How much time is a sensible estimate</label>
		<input type="number" ng-model="minutes" placeholder="minutes...">
		<input type="number" ng-model="seconds" placeholder="second...">


		<input type="submit" value="I'm ready">
	</form>


</div>