/* https://meyerweb.com/eric/tools/css/reset/ */

#focus-mind html, #focus-mind body, #focus-mind div, #focus-mind span, #focus-mind applet, #focus-mind object, #focus-mind iframe,
#focus-mind h1, #focus-mind h2, #focus-mind h3, #focus-mind h4, #focus-mind h5, #focus-mind h6, #focus-mind p, #focus-mind blockquote, #focus-mind pre,
#focus-mind a, #focus-mind abbr, #focus-mind acronym, #focus-mind address, #focus-mind big, #focus-mind cite, #focus-mind code,
#focus-mind del, #focus-mind dfn, #focus-mind em, #focus-mind img, #focus-mind ins, #focus-mind kbd, #focus-mind q, #focus-mind s, #focus-mind samp,
#focus-mind small, #focus-mind strike, #focus-mind strong, #focus-mind sub, #focus-mind sup, #focus-mind tt, #focus-mind var,
#focus-mind b, #focus-mind u, #focus-mind i, #focus-mind center,
#focus-mind dl, #focus-mind dt, #focus-mind dd, #focus-mind ol, #focus-mind ul, #focus-mind li,
#focus-mind fieldset, #focus-mind form, #focus-mind label, #focus-mind legend,
#focus-mind table, #focus-mind caption, #focus-mind tbody, #focus-mind tfoot, #focus-mind thead, #focus-mind tr, #focus-mind th, #focus-mind td,
#focus-mind article, #focus-mind aside, #focus-mind canvas, #focus-mind details, #focus-mind embed,
#focus-mind figure, #focus-mind figcaption, #focus-mind footer, #focus-mind header, #focus-mind hgroup,
#focus-mind menu, #focus-mind nav, #focus-mind output, #focus-mind ruby, #focus-mind section, #focus-mind summary,
#focus-mind time, #focus-mind mark, #focus-mind audio, #focus-mind video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#focus-mind article, #focus-mind aside, #focus-mind details, #focus-mind figcaption, #focus-mind figure,
#focus-mind footer, #focus-mind header, #focus-mind hgroup, #focus-mind menu, #focus-mind nav, #focus-mind section {
  display: block;
}
#focus-mind body {
  line-height: 1;
}
#focus-mind ol, #focus-mind ul {
  list-style: none;
}
#focus-mind blockquote, #focus-mind q {
  quotes: none;
}
#focus-mind blockquote:before, #focus-mind blockquote:after,
#focus-mind q:before, #focus-mind q:after {
  content: "";
  content: none;
}
#focus-mind table {
  border-collapse: collapse;
  border-spacing: 0;
}